@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes move-clouds {
    from { transform: translateX(-200px); }
    to { transform: translateX(100vw); }
}

@keyframes strike {
            0% { transform: translateY(-100%); }
            100% { transform: translateY(0); }
        }

@keyframes flash {
    0% {
        background-color: #ffffff;
        box-shadow: 0 0 40px #edff9d, 0 0 80px #edff9d;
        filter: brightness(1);
    }
    50% {
        background-color: #ffffff; 
        box-shadow: 0 0 150px white, 0 0 300px white;
        filter: brightness(5);
        width: 100vw; 
        height: 100vh;
        opacity: 1;
    }
    100% {
        background-color: transparent;
        box-shadow: none;
        filter: brightness(1);
        opacity: 0;
    }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes appear {
    0% { opacity: 0; transform: scale(0.9); }
    50% { opacity: 0.8; transform: scale(1.05); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes appear-disappear {
    0% { opacity: 0; transform: scale(0.9); }
    33% { opacity: 1; transform: scale(1); }
    66% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.9); }
}